<app-menu/>
<div class="container">
  <h1>YOUR CARBON CREDITS MARKETPLACE.</h1>
  <h1>SUPORT OUR PROJECTS. REDUCE YOUR CARBON FOOTPRINT.</h1>
</div>
<div class="container">
    <div>
      <button>SATELLITE MONITORING</button>
      <button>+ NEW PROJECT</button>
    </div>
    <div>
      <p>Filter by:</p>
  </div>  
  <div>
    <div>
      <img src="" alt="">
      <i>flag</i>
      <p>aviable</p>
      <p>project name</p>
      <p>project description</p>
      <p>icons</p>
    </div>
  </div>
<router-outlet />
