<app-menu></app-menu>

<div class="container">
  <h1 class="title">YOUR CARBON CREDITS MARKETPLACE.</h1>
  <h1 class="title">SUPPORT OUR PROJECTS. REDUCE YOUR CARBON FOOTPRINT.</h1>
</div>

<div class="container">
  <div class="actions">
    <button>SATELLITE MONITORING</button>
    <button>+ NEW PROJECT</button>
  </div>
  <div class="filter">
    <p>Filter by:</p>
  </div>  
  <div class="projects-grid">
    <div class="project-card">
      <img src="" alt="Project Image">
      <i>flag</i>
      <p>aviable</p>
      <p>project name</p>
      <p>project description</p>
      <p>icons</p>
    </div>
    <div class="project-card">
      <img src="" alt="Project Image">
      <i>flag</i>
      <p>aviable</p>
      <p>project name</p>
      <p>project description</p>
      <p>icons</p>
    </div>
    <div class="project-card">
      <img src="" alt="Project Image">
      <i>flag</i>
      <p>aviable</p>
      <p>project name</p>
      <p>project description</p>
      <p>icons</p>
    </div>
    <div class="project-card">
      <img src="" alt="Project Image">
      <i>flag</i>
      <p>aviable</p>
      <p>project name</p>
      <p>project description</p>
      <p>icons</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
